In [1]:
import pandas as pd
from datasets import load_dataset

dataset = load_dataset("lukebarousse/data_jobs")
df = dataset["train"].to_pandas()


df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [2]:
df['salary_year_avg'].mean()

123286.27407182401

In [8]:
median_salary_year = df['salary_year_avg'].median()

In [9]:
median_salary_hour = df['salary_hour_avg'].median()

In [15]:
df_filled = df

df_filled['salary_year_avg'] = df_filled['salary_year_avg'].fillna(median_salary_year)

df_filled['salary_hour_avg'] = df_filled['salary_hour_avg'].fillna(median_salary_hour)


df_filled['salary_hour_avg'].head()

0    45.98
1    45.98
2    45.98
3    45.98
4    45.98
Name: salary_hour_avg, dtype: float64

In [17]:
df_unique = df_filled

df_unique = df_unique.drop_duplicates()

In [18]:
df_unique = df_unique.drop_duplicates(subset=['job_title', 'company_name'])