In [1]:
import pandas as pd

In [2]:
data = {
    'job_title_short': ['Data Analyst', 'Data Scientist', 'Data Engineer'],
    'job_skills': [['excel', 'sql', 'python'], ['python', 'r'], ['aws', 'python', 'airflow']]
}

df_skill_lists = pd.DataFrame(data)

df_skill_lists

  job_title_short              job_skills
0    Data Analyst    [excel, sql, python]
1  Data Scientist             [python, r]
2   Data Engineer  [aws, python, airflow]

In [5]:
df_skill_lists.explode('job_skills').value_counts('job_skills')

job_skills
python     3
airflow    1
aws        1
excel      1
r          1
sql        1
Name: count, dtype: int64